<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>

  </head>
  <body>
    <div class="top-strip"></div>
    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <h1>
              {{ site.title }}<br>
              <iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_username }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </h1>
          </div>
          <div class="col-xs-12">
            {{ site.description }}
            To add/update a conference, <a target="_blank" href="//github.com/{{ site.github_username }}/{{ site.github_repo }}">send in a pull request</a>.
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <!-- <div class="well"> -->
              <form class="form-inline">
                <div class="form-group">
                  {% for type in site.data.types %}
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="{{ type.tag }}-checkbox" class=""> {{ type.name }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </form>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <div class="conf-container">
        {% for conf in site.data.conferences %}
        {% assign num_deadlines = conf.deadline.size %}
        {% assign conf_id = conf.name | append: conf.year | slugify %}
        <div id="{{ conf_id }}" class="conf {% for tag in conf.tags %} {{tag}} {% endfor %}">
          <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h2><a href="{{conf.link}}">{{conf.name}} {{conf.year}}</a></h2>
                <div class="meta">
                  {{ conf.description }}<br>
                  {% if conf.date and conf.date != "TBD" %}{{conf.date | replace: '-', '–'}}{% endif %}
                  {% if conf.place and conf.place != "TBD" %} // {{conf.place}}{% endif %}
                  {% if conf.date and conf.date != "TBD" or conf.place and conf.place != "TBD" %}<br>{% endif %}
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <span class="timer"></span>
                <div class="deadline-section">
                  {% if num_deadlines == 1 %}
                    <div class="deadline-item">
                      <strong>Deadline:</strong> <span class="deadline-time"></span>
                    </div>
                  {% elsif num_deadlines == 2 %}
                    <div class="deadline-item">
                      <strong>Cycle 1:</strong> <span class="deadline-time-0"></span>
                    </div>
                    <div class="deadline-item">
                      <strong>Cycle 2:</strong> <span class="deadline-time-1"></span>
                    </div>
                  {% elsif num_deadlines == 4 %}
                    <div class="deadline-cycle">
                      <div class="cycle-header">Cycle 1</div>
                      <div class="deadline-item">
                        <span class="deadline-type-label">Registration:</span> <span class="deadline-time-0"></span>
                      </div>
                      <div class="deadline-item">
                        <span class="deadline-type-label">Submission:</span> <span class="deadline-time-1"></span>
                      </div>
                    </div>
                    <div class="deadline-cycle">
                      <div class="cycle-header">Cycle 2</div>
                      <div class="deadline-item">
                        <span class="deadline-type-label">Registration:</span> <span class="deadline-time-2"></span>
                      </div>
                      <div class="deadline-item">
                        <span class="deadline-type-label">Submission:</span> <span class="deadline-time-3"></span>
                      </div>
                    </div>
                  {% else %}
                    {% for i in (0..num_deadlines) %}
                    {% if i < num_deadlines %}
                    <div class="deadline-item">
                      <strong>Deadline {{ i | plus: 1 }}:</strong> <span class="deadline-time-{{ i }}"></span>
                    </div>
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                  <div class="meta">
                    {{ conf.comment }}
                  </div>
                </div>
              </div>
          </div>
          <hr>
        </div>
        {% endfor %}
      </div>
      <footer>
        Maintained by <a href="//github.com/{{ site.github_username }}">{{ site.author }}</a>.
      </footer>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
      deadlineByConf = {};

      {% for conf in site.data.conferences %}
      // {{ conf.name }} {{ conf.year }}
      {% assign conf_id = conf.name | append: conf.year | slugify %}
      {% if conf.deadline[0] == "TBA" %}
      $('#{{ conf_id }} .timer').html("TBA");
      $('#{{ conf_id }} .deadline-time').html("TBA");
      deadlineByConf["{{ conf_id }}"] = null;

      {% else %}
      var rawDeadlines = {{ conf.deadline | jsonify }} || [];
      if (rawDeadlines.constructor !== Array) {
        rawDeadlines = [rawDeadlines];
      }
      var parsedDeadlines = [];
      
      // Parse all deadlines
      for (var idx = 0; idx < rawDeadlines.length; idx++) {
        var rawDeadline = rawDeadlines[idx];
        // deal with year template in deadline
        var year = {{ conf.year }};
        rawDeadline = rawDeadline.replace('%y', year).replace('%Y', year - 1);
        // adjust date according to deadline timezone
        {% if conf.timezone %}
        var deadline = moment.tz(rawDeadline, "{{ conf.timezone }}");
        {% else %}
        var deadline = moment.tz(rawDeadline, "Etc/GMT+12"); // Anywhere on Earth
        {% endif %}

        // post-process date
        if (deadline.minutes() === 0) {
          deadline.subtract(1, 'seconds');
        }
        if (deadline.minutes() === 59) {
          deadline.seconds(59);
        }
        parsedDeadlines.push(deadline);
      }

      // Find the closest upcoming deadline for main timer
      var today = moment();
      var nextDeadline = null;
      for (var i = 0; i < parsedDeadlines.length; i++) {
        if (today.diff(parsedDeadlines[i]) <= 0) {
          if (nextDeadline === null || parsedDeadlines[i].isBefore(nextDeadline)) {
            nextDeadline = parsedDeadlines[i];
          }
        }
      }
      
      // If no upcoming deadline, use the most recent past deadline
      if (nextDeadline === null && parsedDeadlines.length > 0) {
        nextDeadline = parsedDeadlines[0];
        for (var i = 1; i < parsedDeadlines.length; i++) {
          if (parsedDeadlines[i].isAfter(nextDeadline)) {
            nextDeadline = parsedDeadlines[i];
          }
        }
      }

      // Set up main countdown timer
      if (nextDeadline) {
        function make_update_countdown_fn(deadline) {
          return function(event) {
            var diff = moment() - deadline;
            if (diff <= 0) {
              $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
            } else {
              $(this).html(deadline.fromNow());
            }
          }
        }
        $('#{{ conf_id }} .timer').countdown(nextDeadline.toDate(), make_update_countdown_fn(nextDeadline));
        
        // check if date has passed, add 'past' class to it
        if (moment() - nextDeadline > 0) {
          $('#{{ conf_id }}').addClass('past');
        }
        deadlineByConf["{{ conf_id }}"] = nextDeadline;
      }

      // Set individual deadline times
      {% assign num_deadlines = conf.deadline.size %}
      {% if num_deadlines == 1 %}
      $('#{{ conf_id }} .deadline-time').html(parsedDeadlines[0].local().format('D MMM YYYY, h:mm:ss a'));
      {% else %}
      for (var i = 0; i < parsedDeadlines.length; i++) {
        $('#{{ conf_id }} .deadline-time-' + i).html(parsedDeadlines[i].local().format('D MMM YYYY, h:mm:ss a'));
      }
      {% endif %}

      {% endif %}
      {% endfor %}

      // Reorder list by next deadline
      var today = moment();
      var confs = $('.conf').detach();
      confs.sort(function(a, b) {
        var aDeadline = deadlineByConf[a.id];
        var bDeadline = deadlineByConf[b.id];
        var aDiff = today.diff(aDeadline);
        var bDiff = today.diff(bDeadline);
        if (aDiff < 0 && bDiff > 0) {
          return -1;
        }
        if (aDiff > 0 && bDiff < 0) {
          return 1;
        }
        return bDiff - aDiff;
      });
      $('.conf-container').append(confs);

      // Set checkboxes
      var conf_type_data = {{ site.data.types | jsonify }};
      var all_tags = [];
      var toggle_status = {};
      for (var i = 0; i < conf_type_data.length; i++) {
        all_tags[i] = conf_type_data[i]['tag'];
        toggle_status[all_tags[i]] = false;
      }
      var tags = store.get('{{ site.domain }}');
      if (tags === undefined) {
        tags = [];
      }
      for (var i = 0; i < tags.length; i++) {
        $('#' + tags[i] + '-checkbox').prop('checked', true);
        toggle_status[tags[i]] = true;
      }
      store.set('{{ site.domain }}', tags);

      function update_conf_list() {
        // Get fresh reference to all conferences
        var allConfs = $('.conf');
        
        // Check if any tags are selected
        var anyTagSelected = false;
        for (var i = 0; i < all_tags.length; i++) {
          if (toggle_status[all_tags[i]]) {
            anyTagSelected = true;
            break;
          }
        }
        
        // Apply filtering without moving DOM elements to preserve timers
        allConfs.each(function(i, conf) {
          var conf = $(conf);
          
          if (!anyTagSelected) {
            // If no tags are selected, show all conferences normally
            conf.show();
            conf.removeClass('filtered-out');
            conf.removeClass('matched-filter');
            conf.css('order', '');
          } else {
            var hasSelectedTag = false;
            
            // Check if conference has ALL of the selected tags (AND logic)
            hasSelectedTag = true; // Assume it matches until proven otherwise
            for (var j = 0; j < all_tags.length; j++) {
              if (toggle_status[all_tags[j]]) { // If this tag is selected
                if (!conf.hasClass(all_tags[j])) { // But conference doesn't have it
                  hasSelectedTag = false; // Conference doesn't match
                  break;
                }
              }
            }
            
            if (hasSelectedTag) {
              conf.show();
              conf.removeClass('filtered-out');
              conf.addClass('matched-filter');
              // Use CSS order to move matched conferences to top
              conf.css('order', '-1');
            } else {
              conf.show();
              conf.addClass('filtered-out');
              conf.removeClass('matched-filter');
              // Use CSS order to move non-matched conferences to bottom
              conf.css('order', '1');
            }
          }
        });
      }
      update_conf_list();

      // Event handler on checkbox change
      $('form :checkbox').change(function(e) {
        var checked = $(this).is(':checked');
        var tag = $(this).prop('id').slice(0, -9);
        toggle_status[tag] = checked;

        if (checked == true) {
          if (tags.indexOf(tag) < 0)
            tags.push(tag);
        }
        else {
          var idx = tags.indexOf(tag);
          if (idx >= 0)
            tags.splice(idx, 1);
        }
        store.set('{{ site.domain }}', tags);
        update_conf_list();
      });
    });

    <!-- Google analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.ga_id }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
